## **2. Data Preparation**

#### **Step 2.1 Read Songs**

In [4]:
import os
import pandas as pd
from slugify import slugify

artist_name = 'Avenged Sevenfold'
artist_slug = slugify(artist_name)

df = pd.read_csv(f'unduhan/{artist_slug}.csv')
df = df.sort_values('Judul')

df.head()

,Judul,year,album,type,url
0,(D)eath,2023.0,Life Is But A Dream…,album,http://www.azlyrics.com/lyrics/avengedsevenfol...
1,(O)rdinary,2023.0,Life Is But A Dream…,album,http://www.azlyrics.com/lyrics/avengedsevenfol...
2,4:00 AM,2008.0,Diamonds In The Rough,compilation,http://www.azlyrics.com/lyrics/avengedsevenfol...
3,A Little Piece Of Heaven,2007.0,Avenged Sevenfold,album,http://www.azlyrics.com/lyrics/avengedsevenfol...
4,Acid Rain,2013.0,Hail To The King,album,http://www.azlyrics.com/lyrics/avengedsevenfol...

#### **Step 2.2 Merge Lyrics**

In [5]:
folder_path = f'unduhan/{artist_slug}'
lyrics = []

for file_name in os.listdir(folder_path):
    if file_name.endswith('.txt'):
        file_path = os.path.join(folder_path, file_name)
        with open(file_path, 'r') as file:
            text = file.read()
            lyrics.append(text)

df['Lirik'] = lyrics
df = df.drop(columns=['year', 'type', 'url'])
df = df.dropna()

df.tail()

,Judul,album,Lirik
111,Warmness On The Soul,Sounding The Seventh Trumpet,"We keep writing, talking and planning, but eve..."
112,We Come Out At Night,Sounding The Seventh Trumpet,I sit stoic\nTouch of the divine upon my neck\...
113,We Love You,Life Is But A Dream…,I feel insane\nEvery single time I'm asked to ...
114,Welcome To The Family,Nightmare,"Man's becoming more corrupt now, godless, wick..."
115,Wish You Were Here,The Stage,"Standing in the shade of altruism, answering t..."

Simpan sebagai file baru dengan separator `";"` untuk menghindari penggunaan koma `(,)` dalam lirik.

<small>Tentunya kami sudah memastikan tidak ada penggunaan `";"` pada lirik yang diunduh</small>

In [6]:
df.to_csv(f'unduhan/{artist_slug}-with-lyrics.csv', sep=";")

#### **(Opsional)**

Kami berencana untuk melakukan analisis kata setiap masing-masing albumnya.

In [7]:
from tabulate import tabulate

album_list = df['album'].unique()

for album in album_list:
    album_data = df[df['album'] == album]
    album_data.to_csv(f'unduhan/{artist_slug}/album/{album}.csv', index=False, sep=";")
    
table = []
for i, j in enumerate(album_list, start=1):
    table.append([i, j])

headers = ["No", "Nama Album"]
print(tabulate(table, headers, tablefmt="grid"))

+------+------------------------------+
|   No | Nama Album                   |
+======+==============================+
|    1 | Life Is But A Dream…         |
+------+------------------------------+
|    2 | Diamonds In The Rough        |
+------+------------------------------+
|    3 | Avenged Sevenfold            |
+------+------------------------------+
|    4 | Hail To The King             |
+------+------------------------------+
|    5 | Sounding The Seventh Trumpet |
+------+------------------------------+
|    6 | Waking The Fallen            |
+------+------------------------------+
|    7 | The Stage                    |
+------+------------------------------+
|    8 | City Of Evil                 |
+------+------------------------------+
|    9 | Nightmare                    |
+------+------------------------------+
|   10 | Black Reign                  |
+------+------------------------------+